-#@params [Hash] company_info: information of the company.

.panel.panel-default
  .panel-heading{"id" => "heading_#{company_info[:id]}", :role => "tab"}
    %h4.panel-title
      %a.company_header{ "aria-controls" => "company_#{company_info[:id]}",
          "aria-expanded" => "false",
          "data-parent" => "#accordion",
          "data-toggle" => "collapse",
          "data-target" => "#company_#{company_info[:id]}"}
        = company_info[:text]
      &nbsp;&nbsp;
      %button.btn-xs.btn.btn-warning.import_csv Import operations to CSV
  .panel-collapse.collapse{ "id" => "company_#{company_info[:id]}",
                            "aria-labelledby" => "heading_#{company_info[:id]}",
                            :role => "tabpanel"}
    .panel-body
      %table.table-condensed.table-hover.table{id: "company_#{company_info[:id]}_table",
                                  data: {company: "#{company_info[:id]}",
                                         filter: '',
                                         nextpage: '',
                                         opened: 0}}
        %thead
          %tr
            %th.col-xs-2= t('operations.invoice_num')
            %th.col-xs-2= t('operations.invoice_date')
            %th.col-xs-2= t('operations.operation_date')
            %th.col-xs-1= t('operations.amount')
            %th.col-xs-1= t('operations.reporter')
            %th.col-xs-2= t('operations.notes') 
            %th.col-xs-2= t('operations.kind') 
        %tbody
      .btn.btn-primary.more_operations Load More
